@import "tailwindcss";

/* 🎨 Colores base */
@theme inline {
  --color-background: #fff2e2;
  --color-foreground: #171717;
}


/* 🖌 Estilos globales */
body {
  background: var(--color-background);
  color: var(--color-foreground);
--font-sans: var(--font-lato);
--font-serif: var(--font-merriweather);
}
