@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 🎨 Colores base */
@theme inline {
  
}

@layer base { html { @apply bg-background-default; } }

@layer utilities {

}
:root{
  --swiper-navigation-color:#1C1B1F;
  --swiper-navigation-size:60px;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next{
  width:20px !important;
  height:20px !important;
  top:65% !important;
  transform:translateY(-50%) !important;
}

.mySwiper .swiper-button-prev{ left:-4px !important; }
.mySwiper .swiper-button-next{ right:-4px !important; }
.mySwiper .swiper-slide {
  box-shadow: none !important;
  filter: none !important;
}
/* Fix Crisp mobile */
#crisp-chatbox,
.crisp-client {
  z-index: 9999 !important;
}

html,
body {
  overflow-x: visible !important;
}
/* Ocultar launcher Crisp */
.crisp-client [class*="launcher"],
.crisp-client .crisp-1rjpbb7,
.crisp-client .crisp-1us5f5j {
  display: none !important;
}